@font-face {
	font-family: "Inter";
	src: url("/app/fonts/inter.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Inter";
	src: url("/app/fonts/inter-italic.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

* {
	font-family: "Inter", sans-serif;
	box-sizing: border-box;
}

button,
input[type="submit"] {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 8px;
	padding: 0.7rem;
	background: #005594;
	color: white;
	position: relative;
	overflow: visible;
	touch-action: manipulation;
	user-select: none;

	transition: 250ms ease;
}

button:active,
input[type="submit"]:active {
	background: #007bd9;
}

input[type="text"],
input[type="password"] {
	width: 100%;
	padding: 0.5rem;
	margin: 0.5rem 0 1rem 0;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 1rem;
}

/* HEADER */
header {
	display: flex;
	justify-content: center;
	gap: 1rem;
	padding-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.heading {
	font-size: 2rem;
	font-weight: 600;
	align-self: center;
}

header img {
	height: 4rem;
}

/* MAIN */
main {
	padding: 1rem;
}

#apps {
	display: grid;
	gap: 0.5rem;
	grid-template-columns: 1fr 1fr;
}

.app {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 8px;
	padding: 0.7rem;
	background: #005594;
	color: white;
	position: relative;
	overflow: visible;
	touch-action: manipulation;
	user-select: none;

	transition: 250ms ease;
}

.app:active {
	background: #007bd9;
}

.badge {
	position: absolute !important;
	top: -0.4rem;
	right: -0.4rem;
	width: 1.4rem;
	height: 1.4rem;
	border-radius: 50%;
	background: #ff0000;
	color: white;
	font-size: 0.6rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	z-index: 100;
}

.app-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}
