<!doctype html>
<html lang="de">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>BOGY-App Admin Dashboard</title>

		<link rel="stylesheet" href="/static/admin_dashboard.css" />
	</head>
	<body>
		<header>
			<div>
				<img src="/static/logo.png" alt="BOGY Logo" />
				<div>
					<h1>BOGY-App</h1>
					<p>ADMIN DASHBOARD</p>
				</div>
			</div>
			<div style="margin-right: 1rem;">
				<h1 class="evs">Willkommen, {{ username }}!</h1>
			</div>
		</header>
		<main>
			<div>
				<div class="app-head">Klassen</div>
				<div class="app-body">ABC</div>
			</div>
		</main>
	</body>
</html>
