<!doctype html>
<html lang="de">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>BOGY-App Admin Dashboard</title>

		<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />

		<link rel="stylesheet" href="/static/admin_dashboard.css" />
		<link
			rel="shortcut icon"
			href="/static/favicon.ico"
			type="image/x-icon" />
	</head>
	<body>
		<header>
			<div>
				<img src="/static/logo.png" alt="BOGY Logo" />
				<div>
					<h1>BOGY-App</h1>
					<p>ADMIN DASHBOARD</p>
				</div>
			</div>
			<div style="margin-right: 1rem;">
				<h1 class="evs">Willkommen, {{ username }}!</h1>
			</div>
		</header>
		<main>
			<div>
				<div class="app-head">
					Klassen
					<button id="btn-details-classes">Details</button>
				</div>
				<div class="app-body">
					{% for class in classes %}
					<div
						class="element-card class-card"
						id="class-{{ class.id }}"
						onclick="clickOnClassCard('class-{{ class.id }}')">
						<span>{{ class.name }}</span>
						<span>Schüler: {{ class.student_count }}</span>
						<span>Andere Benutzer: {{ class.others_count }}</span>
					</div>
					{% endfor %}
				</div>
			</div>
			<div>
				<div class="app-head">
					Benutzer
					<button id="btn-details-users">Details</button>
				</div>
				<div class="app-body">
					{% for user in users %}
					<div
						class="element-card user-card"
						id="user-{{ user.id }}"
						onclick="clickOnUserCard('user-{{ user.id }}')">
						<span>{{ user.username }}</span>
						<span>Rolle: {{ user.german_role_name }}</span>
						<span
							>Klasse: {{ user.class_name or "Keine Klasse"
							}}</span
						>
					</div>
					{% endfor %}
				</div>
			</div>
			<div>
				<div class="app-head">
					WLAN-Codes
					<button id="btn-details-wlan-codes">Details</button>
				</div>
				<div class="app-body">
					{% for code in wlan_codes %}
					<div
						class="element-card wlan-code-card"
						id="wlancode-{{ code.id }}"
						onclick="clickOnWlanCodeCard('wlancode-{{ code.id }}')">
						<span>{{ code.code }}</span>
						<span>Ablaufdatum: {{ code.expiry_formatted }}</span>
					</div>
					{% endfor %}
				</div>
			</div>
		</main>

		<script src="/static/admin_dashboard.js"></script>
	</body>
</html>
